@import "bourbon";
@import "vars.sass";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.nav_button,
.hidden {
	display: none;
}

.clear_both {
	clear: both;
}

.container {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid white;
	border-bottom: none;
	padding-bottom: 30px;
}

a {
	color: #04488B;
}

a:hover {
	text-decoration: none;
}

#polnay_stranica,
#mobilnay_stranica {
	background-color: transparent;
	border: none;
	color: white;
}

#mobilnay_stranica {
	background-color: rgba(4, 72, 139, 0.8);;
}


                    /* HEADER*/
header {
	border-radius: 40px 0px;
}

.top_header {
	border-bottom: 5px solid #04488B;
	padding-bottom: 10px;
}

.logo  {
	width: 33%;
	display: inline-block;
	background: linear-gradient(45deg, #04488B, #8EDBF5);
	border-radius: 40px 0px;
}

.logo img {
	width: 60px;
	margin: 0 15px 0 15px;
}

.logo h1 {
	margin: 30px 0 0 0 ;
	padding: 0;
	float: right;
	line-height: 27px;
	padding-right: 20%;
	padding-bottom: 8px;
}

.logo p {
	font-size: 15px;
	position: absolute;
}

.logo a {
	color: white;
}

.nav_button {
	z-index: 150;
}

.main_header_info {
	font-size: 13px;
	width: 65%;
	display: inline-block;
}

.main_header_info a {
	font-size: 25px;
	font-weight: bold;
	float: right;
	padding: 0;
	color: #04488B ;
	line-height: 30px;
}

.main_header_info p {
	float: right;
	padding: 0;
	margin: 0;
}

nav {
	height: 90px;
	background: linear-gradient(to bottom, #46C6EF, #04488B);
	background: -o- linear-gradient(to bottom, #46C6EF, #04488B);
	background: -moz- linear-gradient(to bottom, #46C6EF, #04488B);
	background: -webkit- linear-gradient(to bottom, #46C6EF, #04488B);
	border-bottom: 2px solid #8EDBF5;
	margin-bottom: 25px;
}

.bottom_header ul {
	height: 54px;
	margin: 0;
	padding: 0;
	background-color: #46C6EF;
	box-shadow: inset 0px -10px 10px 3px rgba(0,0,0,0.5);
}

.bottom_header li {
	display: inline-block;
	list-style-type: none;
	padding: 14px 12px;
	margin-left: -4px;
	border-right: 1px dotted #1095C2;
}

.bottom_header li:first-child {
	border-radius: 8px 0 0 8px;
}

.active_nav {
	background-color: #8EDBF5;
	box-shadow: inset -8px -2px 10px 2px rgba(0,0,0,0.5);
}

.active a {
	color: white;
}

.bottom_header a:hover {
	color: white;
}

								/* END HEADER*/
